<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    [_Layout.cshtml start]<br />
    LayoutViewBag: @ViewBag.Value<br />
    <div style="padding: 20px;">
        @RenderBody()
    </div>
    <div>
        @foreach (var i in new[] { 1, 2, 3 })
        {
        <span>@i&nbsp;</span>
        }
    </div>
    @await Html.PartialAsync("_PartialAsync")
    [_Layout.cshtml end]<br />
</body>
</html>
